.btn{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: $border_radius;
    border: none;
    margin: 10px 0 ;
    padding: 10px 15px;
    cursor: pointer;
    width: max-content;
    text-align: center;
    font-size: 16px;
    @include transition;

    &._solid{
        color: $button_text_color;
        background-color: $button_color;
    }
    &._outline{
        background-color: $button_text_color;
        color: $button_color;
        border: 1px solid $button_color;
    }

    &:hover{
        background-color: $button_color_hover;
        color: $button_text_color_hover;
        a{
            color: $button_text_color_hover;
        }
    }
    a{
        color: $button_text_color;
    }
  

}