$primary_color: #08192e;
$secondary_color: #17E3A2;

$success_color: #1BCA3B;
$warning_color: #EDD922;
$danger_color: #ed2529;
$information_color: #2778c4;


$text_color: #111111;
$link_color: #242969;
$link_color_hover: #ed2529;

$border_color: #c4c7c8;
$background_color:#F5F5F5;
$overlay_background_color: rgba(0, 0, 0, 0.25);

$white_color: #ffffff;
$gray_color: #EDEDED;
$gray_light_color: #ededed;

$button_color: #1E2346;
$button_text_color: #ffffff;

$button_color_hover: #fd2f1c;
$button_text_color_hover: #ffffff;

$box_shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
$border_radius: 0;

$font-family: 'Montserrat', sans-serif;

