html {
    background-color: $background_color;
    &.overlay{
        overflow: hidden;
        body:before{
            content: '';
            position: fixed;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background-color: $overlay_background_color;
        }
    }
}
main.container{
    flex-direction: column;
}
.container {
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
    width: 100%;
    @include tablet {
        max-width: 700px;
    }
    @include laptop {
        max-width: 900px;
        padding: 0;
    }
    @include desktop {
        max-width: 1440px;
    }
}

.logo{
    max-height: 50px;
}

.header{
    display: block;
    position: relative;
    color: $white_color;
    padding: 15px 0;
    font-weight: 600;
    margin-bottom: 50px;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100vw;
        left: 50%;
        margin-left: -50vw;
        z-index: -1;
        background-color: rgba($primary_color, 0.9);
    }
}